#user-tag-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "user-tag-modal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#myModalLabel.modal-title Modal title
      .modal-body
        = text_field_tag "user_names", nil, class: "form-control", placeholder: "add users to share"

        %hr
        - User.all.each do |user|
          = label_tag :username do
            = check_box_tag "shared_ids[]", user.id
            = user.username
          %br
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
        = form.hidden_field :is_shared, value: true
        = form.submit "Share", class: 'btn btn-success'
