!!!
%html
  %head
    %title QiBookmark
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags
  %body
    = render 'layouts/navbar'

    - if !flash.blank?
      %div{ class: "alert alert-#{flash.keys.first} flash-messages", role: 'alert' }
        - flash_messages(flash).each do |message|
          %ul
            %li
              = message

    .container
      = yield
    = javascript_include_tag 'application'
